body {
    background: url('./src/assets/home.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.ancients-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}

.ancient-card {
    background-size: 100%; 
    background-repeat: no-repeat;
    width: 270px;
    height: 350px;
}

.activeBoss {
    border: 2px solid #5B1C02;
    transform: scale(1.1);
}

.bottom-container {
    display: flex;
    padding-top: 50px;
}

.dificulties-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}
.dificult-text{
    text-align: center;
    color: #D25B01;
    font-family: Rubik Marker Hatch, sans-serif;
    font-size: 21px;

}

.didificult{
    width: 212px;
    height: 35px;
    background-color: #F1EBD8;
    font-family: Rubik Marker Hatch, sans-serif;
    font-size: 21px;
}

.chose-didificult {
    border: 2px solid #5B1C02;
    transform: scale(1.1);
}

.hide-dificulties-container {
    opacity: 0;
}

.deck-container {
    display: flex;
    flex-grow: 4;
    position: relative;
}

.mix-up {
    height: 35px;
    width: 250px;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
    background-color: #F1EBD8;
    font-family: Rubik Marker Hatch, sans-serif;
    font-size: 21px;
}

.hide-mix-up {
    display: none;
}

.card-container {
    display: flex;
    position: relative;
}

.cardWrapper {
    width: 210px;
    height: 350px;
    position: absolute;
    transition: 1s;
}

.cardWrapperOpen {
     transform: translateX(210px);
     transition: 1s;
     margin: 0 0px 0 40px;
}

.hide-card-container {
    opacity: 0;
}

.card {
    height: 340px;
    width: 230px;
}

.backside {
    background: url(./src/assets/mythicCardBackground.jpg);
    background-size: 100%;
    position: absolute;
    z-index: 2;
    transition: 1s;
}

.front-side {
    /* background-color: aqua; */
    transform: rotateY(-180deg);
    position: absolute;
    z-index: 1;
    transition: 1s;
    background-image: url(http://localhost:9000/608e0ae….png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.hide-backside {
    transform: rotateY(-180deg);
    transition: 1s;
    z-index: 1;
}

.show-front-side {
    transform: rotateY(0deg);
    transition: 1s;
    z-index: 2;
}

.stage-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hide-stage-container {
    opacity: 0;
}

.stage {
    display: flex;
    flex-direction: column;
}

.stage-text {
    text-align: center;
    color: #D25B01;
    font-family: Rubik Marker Hatch, sans-serif;
    font-size: 21px;
}

.circle-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greenCircle {
    background-color: #807622;
}

.brownCircle {
    background-color: #EAA724;
}

.blueCircle {
    background-color: #2A3759;
}

